{% extends "forum/index.html" %}
{% block "forum_content" %}
{% load i18n %}

<div class="forum_header">
	<span class="title_post">{{ cat.name }}</span>
	<span class="button_forum_header"><a href="{% url 'forum:new_thread' cat.id %}" class="new_thread_button">{% trans 'New thread' %}</a> </span>
</div>
<div>


{% for thread in threads %}
	<div class="category_list">
		<div class="category_title">
			<a href="{% url 'forum:thread' thread.id %}">
{{ thread.title }}</a>
		</div>
		<div class="category_details">
			{% trans 'Par' %} {{ thread.author }}, {% trans 'le'%} {{ thread.date }}
		</div>
	</div>

{% endfor %}
</div>
{% endblock %}
