{% extends "forum/index.html" %}
{% block "forum_content"%}
{% load i18n %}


<div class="forum_header">
<div class="title_post">{{ thread.title }}</div>
</div>

<div class="edit_post_content">
	{{ form.non_field_errors }}
	<form action="{% url 'forum:edit_post' post.id %}" method="POST">
		{% csrf_token %}
		<label for="{{ form.message.id_for_label }}">{{ form.message.label }} :</label>{{ form.message.errors }}<br />
		{{ form.message }}<br />
		<input type="submit" class="new_thread_button_small" value="{% trans 'Edit' %}" />
	</form>
</div>

{% for post_tmp in posts %}
<div class="post">
	<span>{{ post_tmp.author }} :</span> 
	{{ post_tmp.message }}
</div>
{% endfor %}

{% endblock %}
