{% load i18n %}
<div>
<div><h2>{{ master_thread.title }}</h2></div>
</div>
<div>
	{{ form.non_field_errors }}
	<form action="{% url 'forum:reply' thread.id %}" method="POST">
		{% csrf_token %}
		<label for="{{ form.message.id_for_label }}">{{ form.message.label }} :</label>{{ form.message.errors }}<br />
		{{ form.message }}<br />
		<input type="submit" value="{% trans 'Reply' %}" />
	</form>
</div>
{% for post in posts %}
<div><span>{{ post.author }} :</span> {{ post.message }}</div>
{% endfor %}
