{% extends "forum/index.html" %}
{% block "forum_content" %}
{% load i18n %}


<div class="forum_header">
<div class="title_post">{{ master_thread.title }}</div>
</div>

<div class="edit_post_content">
	{{ form.non_field_errors }} 
	<form action="{{ action }}" method="POST">
		{% csrf_token %}
		<div>		<label for="{{ form.message.id_for_label }}">
			{{ form.message.label }} :
		</label></div>
		{{ form.message.errors }}
		{{ form.message }}
		<div><input type="submit" class="new_thread_button_small" value="{% trans 'Reply' %}" /></div>
	</form>
</div>

{% for post in posts %}

<div>
	<span>{{ post.author }} :</span>
	{{ post.message }}
</div>


{% endfor %}
{% endblock%}
