{% extends "forum/index.html" %}
{% load forum %}
{% load i18n %}

{% block "forum_content" %}

<div>
<div><h2>{{ thread_title }}</h2></div>
</div>
{% for post in posts %}
<div><span>{{ post.author }} :</span> {{ post.message }}{% if post|have_rights:user %} <span><a href="{% url 'forum:edit_post' post.id %}">{% trans 'Edit' %}</a></span>{% endif %}{% if post|can_reply %} <span><a href="{% url 'forum:reply' post.id %}">{% trans 'Reply' %}</a></span>{% endif %}</div>
{% endfor %}
<div>
	{{ form.non_field_errors }}
	<form action="{% url 'forum:reply' thread.id %}" method="POST">
		{% csrf_token %}
		<label for="{{ form.message.id_for_label }}">{{ form.message.label }} :</label>{{ form.message.errors }}<br />
		{{ form.message }}<br />
		<input type="submit" value="{% trans 'Reply' %}" />
	</form>
</div>

{% endblock %}
