{% extends "forum/index.html" %}
{% load forum %}
{% load i18n %}

{% block "forum_content" %}

<div>
<div><h2>{{ thread.title }}</h2></div>
</div>
{% for post, comments in posts.items %}
<div style="background-color: #ECECEC; width: 420px;"><span>{{ post.author }} :</span> {{ post.message }}{% if post|have_rights:user %} <span><a href="{% url 'forum:edit_post' post.id %}">{% trans 'Edit' %}</a></span>{% endif %}{% if post|can_reply %} <span><a href="{% url 'forum:comment' post.id %}">{% trans 'Reply' %}</a></span>{% endif %}</div>
{% for comment in comments %}
<div style="background-color: #DCDCDC; width: 400px; padding-left: 20px;"><span>{{ comment.author }} :</span> {{ comment.message }}{% if comment|have_rights:user %} <span><a href="{% url 'forum:edit_post' comment.id %}">{% trans 'Edit' %}</a></span>{% endif %}</div>
{% endfor %}
{% endfor %}
<div><a href="{% url 'forum:reply' thread.id %}">Reply</a></div>
{% endblock %}
