{% extends "navbar.html" %}
{% load i18n %}
{% load l10n %}
{% block "content" %}

<div class="ticket_header"><h1>Tickets submitted</h1></div>
<div class="content_ticket">
{% if tickets %}
{% for ticket in tickets %}
<div class="tickets_lists_block">
	<a href="{% url 'tickets:view' ticket.pk %}">
	{% if ticket.last_assigned == user %}
		{% trans 'ASSIGNED :' %}
	{% endif %}
{{ ticket.title }}
	by {{ ticket.author.username }} - {{ ticket.date|date:"SHORT_DATETIME_FORMAT" }}
</a>
</div>

{% endfor %}
{% else %}

<div>{% trans 'There is no ticket' %}</div>
{% endif %}
	
<div class="button_space">
<a href="{% url 'tickets:create' %}" class="new_thread_button">{% trans "Create" %}</a>
</div>
</div>

{% endblock %}
