{% extends "navbar.html" %}
{% load i18n %}
{% load l10n %}
{% block "content" %}

{% if tickets %}
{% for ticket in tickets %}
<div>
	{% if ticket.last_assigned == user %}
		ASSIGNED : 
	{% endif %}
	<a href="{% url 'tickets:view' ticket.pk %}">{{ ticket.title }}</a>
iiiii	by {{ ticket.author.username }} - {{ ticket.date|date:"SHORT_DATETIME_FORMAT" }}
</div>

{% endfor %}
{% else %}

<div>{% trans 'There is no ticket' %}</div>
{% endif %}
	<a href="{% url 'tickets:create' %}" class="new_thread_button">{% trans "Create" %}</a>

{% endblock %}
