{% load i18n %}
<h2>{{ ticket.title }}</h2>
{% for event in events %}
<div>
	<p>{{ event.author.username }} - {{ event.date|date:"SHORT_DATETIME_FORMAT" }}</p>
	<p>{{ event }}</p>
</div>
{% endfor %}
<div>
	<form method="POST" action="{% url 'tickets:view' ticket_id %}">
		{% csrf_token %}
		{{ form.message.label }} :<br />
		{{ form.message }}<br />
		<input type="submit" name='reply' value="Reply" />
	</form>
</div>
{% if assign_form %}
<div>
	<form method="POST" action="{% url 'tickets:view' ticket_id %}">
		{% csrf_token %}
		{% trans "Assign to" %} :<br />
		{{ assign_form.assigned_to }}<br />
		<input type="submit" name='assign' value="Assign" />
	</form>
</div>
{% endif %}
<form method="POST" action="{% url 'tickets:view' ticket_id %}">
	{% csrf_token %}
	{% if ticket.last_status == Status.OPEN %}
	<input type="submit" name='close' value="{% trans "Close" %}" />
	{% else %}
	<input type="submit" name='open' value="{% trans "Open" %}" />
	{% endif%}
</form>
