{% load staticfiles %}
{% load i18n %}
{% load webdesign %} 
<html>
	<head>
		<title>INTRA</title> 	
		<meta charset="UTF-8">
		<meta name="autor" content="lel-amri, mporcel, hkhelifa">
		<meta name="keywords" content="intra, swag, 42">
		<link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
		<link href="{% static "style.css" %}" rel="stylesheet">
	</head>

	<body>

		<div class="hnavbar">
			<span class="intra_logo"><a href="{% url 'accueil'%}"><img src="{% static "img/rainbowsheep2.gif" %}"></a></span>
			<div class="menu">
				<span class="content_hnavbar"><a href="http://dashboard.42.fr">dashboard</a> </span>
				<span class="content_hnavbar">Francais </span>
				<span class="content_hnavbar">English</span>
				<span class="content_hnavbar">abc</span>
				<span>logout</span>
				<form class="searchbar">
					<input type="text" placeholder="xlogin" required>
					<input value="submit" type="image" width="20px" height="18px" src="{% static "img/search.png" %} ">
				</form>
			</div>
		</div>

		<div class="vnavbar">
			<div class="content_vnavbar">TICKET</div>
			<div class="content_vnavbar">MODULES</div>
		<div class="content_vnavbar">E-LEAR</div>
			<div class="content_vnavbar"><a href="{% url 'forum:index'%}">FORUM</a></div>
			<div class="content_vnavbar">TROMBI</div>
		</div>

		<div class="content">
			{% block "content" %}
			{% lorem 20 p %}
			{% endblock %}
		</div>
	</body>

</html>
